@model Administrador
@{
    ViewData["Title"] = "Administrador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        <!-- Muestra la acción actual (Nuevo Usuario o Editar Usuario) obtenida del ViewBag -->
        @ViewBag.Accion

        <!-- Formulario para guardar cambios, apuntando a la acción "GuardarCambios" del controlador "Home" -->
        <form asp-action="GuardarCambios" asp-controller="Home" method="post">

            <!-- Campo oculto para almacenar el Id, se utiliza para identificar si es una edición o creación -->
            <input asp-for="Id" type="hidden" />

            <!-- Campo para ingresar info admin -->
            <div class="mb-2">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control form-control-sm" asp-for="Nombre" />
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control form-control-sm" asp-for="Apellido" />
            </div>

            <!-- Campo para ingresar info admin -->
            <div class="mb-2">
                <label for="IdCargo" class="form-label">IdCargo</label>
                <input type="text" class="form-control form-control-sm" asp-for="Cargo" />
            </div>

            <!-- Botón para enviar el formulario -->
            <button type="submit" class="btn btn-success btn-sm">Guardar Cambios</button>
            <!-- Enlace para volver a la lista de usuarios -->
            <a asp-action="Index" asp-controller="Home" class="btn btn-warning btn-sm">Volver a la lista</a>

        </form>
    </div>
    <hr />
</div>

